/main copy.py
/screenshot
/test.py
backup
checklist
preset
etc
main_new.py
__pycache__
.vscode
bundles
test_results
logs/ 
schedules.json
design/request/

# 빌드 관련 파일
build/
dist/
*.spec
version_info.txt
*.pyc
*.pyo
main.py
git_log_with_diff_bundleEditor.txt
.cursor/config.json
token.json
design/배포 스레드.txt
config.json
