/main copy.py
/screenshot
/test.py
backup
checklist
preset
etc
main_new.py
__pycache__
.vscode
bundles
test_results
logs/ 
schedules.json
design/request/

# 빌드 관련 파일
build/
dist/
*.spec
version_info.txt
*.pyc
*.pyo